@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Crushed');
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  overflow-x: hidden;
  background: url('../imgs/aboutBg.png') no-repeat center right;
  transition: all 0.5s ease;
}
a,
a:hover,
a:focus,
a:active,
a:checked {
  text-decoration: none;
}
footer .info-from-us {
  background-color: #4E8A8C;
  text-align: center;
  padding-top: 20px;
  height: 100%;
}
footer .info-from-us .block {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
footer .info-from-us .block i {
  font-size: 2rem;
}
footer .info-from-us .block i#more-info:hover {
  cursor: pointer;
}
footer .info-from-us .block h2 {
  margin: 10px 0 3px 0;
  font-family: "Exo 2.0";
}
footer .info-from-us .block .info h2 {
  font-size: 1rem;
}
footer .info-from-us .block .info h2 a,
footer .info-from-us .block .info h2 span {
  font-size: 1rem;
  color: #fff;
}
footer .toggle-block {
  text-align: center;
}
footer .toggle-block i {
  font-size: 3rem;
}
footer .toggle-block i:hover {
  cursor: pointer;
}
header {
  background-color: #01ADEF;
  height: 120px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}
header .head-logo {
  text-align: right;
  vertical-align: middle;
}
header .head-logo .logoSvg {
  max-width: 110px;
  min-width: 80px;
  vertical-align: middle;
  margin-bottom: 3%;
}
header .head-logo .logoSvg .st3 {
  transition: all 0.5s ease;
  background-color: #00709D;
}
header .head-logo .logoSvg:hover {
  opacity: 0.85;
  cursor: pointer;
}
header .head-search {
  line-height: 120px;
  text-align: right;
  padding-right: 10px;
}
header .head-search i {
  color: #01ADEF;
}
header .head-search input {
  position: relative;
  border: none;
  padding: 10px;
  height: 20px;
  border-radius: none;
  outline: none;
  width: 0;
  background: none;
  transition: all 0.5s ease;
}
header .head-search input:focus {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
header .head-search button {
  background-color: #006F9A;
  transition: all 0.2s ease;
  outline: none;
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 90px;
}
header .head-search button:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  cursor: pointer;
}
header .head-search button:hover i {
  color: #006F9A;
}
header .sidebar-menu-icon-close {
  display: none;
}
header .sidebar-menu-icon,
header .sidebar-menu-icon-close {
  text-align: left;
}
header .sidebar-menu-icon i,
header .sidebar-menu-icon-close i {
  font-size: 2rem;
  line-height: 120px;
  color: #006F9A;
  transition: all 0.2s ease;
}
header .sidebar-menu-icon i:hover,
header .sidebar-menu-icon-close i:hover {
  color: #fff;
  cursor: pointer;
}
section#list-book .content-block {
  margin-top: 3%;
  height: 100%;
  position: relative;
}
section#list-book .content-block .item .line {
  width: 50%;
  border-radius: 50px;
  border: 1.5px solid lightgrey;
  margin: 1.5rem;
}
section#list-book .content-block .item:last-child .line {
  display: none;
}
section#list-book .img-book,
section#list-book .img-book img {
  border-radius: 0.2rem;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  min-width: 160px;
  height: 300px;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  position: relative;
}
section#list-book .img-book .add-favorite,
section#list-book .img-book img .add-favorite {
  transition: all 0.5s ease;
  height: 80px;
  bottom: 0;
  background: none;
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0.9;
  z-index: 999;
}
section#list-book .img-book:hover .add-favorite,
section#list-book .img-book img:hover .add-favorite {
  height: 100%;
  background: url('../imgs/favoriteAdd2.svg') no-repeat center center;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: tomato;
}
section#list-book .info-book {
  position: relative;
}
section#list-book .info-book .text {
  width: 90%;
}
section#list-book .info-book .text .head-book {
  margin-bottom: 10px;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}
section#list-book .info-book .text .head-book h2 {
  margin: 0;
  line-height: 27px;
  width: 80%;
  font-family: 'Helvetica', serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
section#list-book .info-book .text .head-book h2 a {
  color: #222;
}
section#list-book .info-book .text p {
  line-height: 1rem;
  margin: 0;
}
section#list-book .info-book .text p span {
  line-height: 1.5rem;
  font-weight: 700;
  font-family: 'Vollkorn', serif;
  color: #222;
}
section#list-book .info-book button {
  outline: none;
  margin-top: 3%;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #00ABF0;
  color: #fff;
  font-weight: 700;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
section#list-book .info-book button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
section#list-book .info-book button:hover span {
  line-height: 0;
}
section#list-book .info-book button span {
  font-size: 1rem;
  line-height: 0;
  font-family: 'Segoe UI', sans-serif;
}
section#list-book .info-book button span i {
  margin-left: 5px;
}
section#list-book .info-book button[name="add-favorite"] {
  display: none;
  text-align: center;
  margin: 10px;
  width: 200px;
}
section#list-book .info-book .buttons {
  position: absolute;
  bottom: 10px;
}
section#list-book .favorite-operation {
  text-align: left;
}
section#list-book .favorite-operation img {
  width: 80px;
}
section#list-book .favorite-operation img:hover {
  cursor: pointer;
}
section#pagination {
  text-align: center;
  margin-top: 3rem;
}
section#pagination ul li {
  display: inline-block;
}
section#pagination ul li a {
  color: black;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  padding: 9px 15px;
  font-size: 1.3rem;
}
section#pagination ul li a.active {
  background-color: #01ADEF !important;
  color: #fff;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
}
section#pagination ul li a:hover {
  background-color: #E4E4E4;
}
section#sidebar-menu {
  padding: 0 !important;
  right: -300px;
  position: fixed;
  z-index: 999;
  top: 0;
}
section#sidebar-menu .content-menu {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 300px;
  text-align: center;
  background-color: #fff;
}
section#sidebar-menu .content-menu ul {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}
section#sidebar-menu .content-menu ul li {
  list-style: none;
}
section#sidebar-menu .content-menu ul li .close-menu {
  display: none;
  font-size: 1.5rem;
  opacity: 0.5;
}
section#sidebar-menu .content-menu ul li .close-menu:hover {
  cursor: pointer;
}
section#sidebar-menu .content-menu ul li a {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #929190;
  font-family: 'Crushed', cursive;
}
section#sidebar-menu .content-menu ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #01ADEF;
  border-radius: 3px;
  color: #01ADEF;
}
