@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Crushed');
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot');
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.helvetica {
  font-family: 'Helvetica', sans-serif;
}
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  overflow-x: hidden;
}
a,
a:hover,
a:focus,
a:active,
a:checked {
  text-decoration: none;
}
section#preloader {
  transition: all 1s ease;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  background-color: black;
  z-index: 5;
  opacity: 0.9;
  /* Page turn */
  /* Dots */
}
section#preloader.done {
  opacity: 0;
  visibility: hidden;
}
section#preloader .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section#preloader .book {
  border: 4px solid #FFFFFF;
  width: 60px;
  height: 45px;
  perspective: 150px;
  position: relative;
}
section#preloader h1 {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  bottom: -60px;
  left: -12px;
}
section#preloader h1:after {
  position: absolute;
  content: "";
  -webkit-animation: Dots 1s cubic-bezier(0, 0.39, 1, 0.68) infinite;
  animation: Dots 1s cubic-bezier(0, 0.39, 1, 0.68) infinite;
}
section#preloader .page {
  display: block;
  width: 30px;
  height: 45px;
  border: 4px solid #FFFFFF;
  border-left: 1px solid #8455b2;
  margin: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  overflow: hidden;
  background: #8455b2;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
section#preloader .book .page:nth-child(1) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.6s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.6s infinite;
}
section#preloader .book .page:nth-child(2) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.45s infinite;
}
section#preloader .book .page:nth-child(3) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.2s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.2s infinite;
}
@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
@-webkit-keyframes pageTurn {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  20% {
    background: #4b1e77;
  }
  40% {
    background: rebeccapurple;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    background: rebeccapurple;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes pageTurn {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    background: #4b1e77;
  }
  40% {
    background: rebeccapurple;
    transform: rotateY(-180deg);
  }
  100% {
    background: rebeccapurple;
    transform: rotateY(-180deg);
  }
}
@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
header {
  background-color: #01ADEF;
  height: 120px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}
header .head-logo {
  text-align: right;
  vertical-align: middle;
}
header .head-logo .logoSvg {
  max-width: 110px;
  min-width: 80px;
  transition: all 0.2s ease;
}
header .head-logo .logoSvg:hover {
  opacity: 0.85;
  cursor: pointer;
}
header .head-search {
  line-height: 120px;
  text-align: right;
}
header .head-search i {
  color: #01ADEF;
}
header .head-search input {
  position: relative;
  border: none;
  padding: 10px;
  height: 20px;
  border-radius: none;
  outline: none;
  width: 0;
  background: none;
  transition: all 0.5s ease;
}
header .head-search input:focus {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
header .head-search button {
  background-color: #006F9A;
  transition: all 0.2s ease;
  outline: none;
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 90px;
}
header .head-search button:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  cursor: pointer;
}
header .head-search button:hover i {
  color: #006F9A;
}
header .sidebar-menu-icon {
  text-align: left;
  transition: all 0.3s ease;
}
header .sidebar-menu-icon i {
  font-size: 2.2rem;
  line-height: 120px;
  color: #006F9A;
}
header .sidebar-menu-icon i:hover {
  color: #fff;
  cursor: pointer;
}
section#list-book .content-block {
  margin-top: 3%;
  position: relative;
}
section#list-book .content-block .item .line {
  width: 50%;
  border-radius: 50px;
  border: 1.5px solid lightgrey;
  margin: 1.5rem;
}
section#list-book .content-block .item:last-child .line {
  display: none;
}
section#list-book .img-book,
section#list-book .img-book img {
  border-radius: 0.2rem;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  min-width: 160px;
  height: 300px;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  position: relative;
}
section#list-book .img-book .add-favorite,
section#list-book .img-book img .add-favorite {
  transition: all 0.5s ease;
  height: 80px;
  bottom: 0;
  background: none;
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0.9;
  z-index: 999;
}
section#list-book .img-book:hover .add-favorite,
section#list-book .img-book img:hover .add-favorite {
  height: 100%;
  background: url('../imgs/favoriteAdd2.svg') no-repeat center center;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #777777;
}
section#list-book .info-book {
  position: relative;
}
section#list-book .info-book .text {
  width: 90%;
}
section#list-book .info-book .text .head-book {
  margin-bottom: 10px;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}
section#list-book .info-book .text .head-book h2 {
  margin: 0;
  line-height: 27px;
  width: 80%;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
section#list-book .info-book .text .head-book h2 a {
  color: #222;
}
section#list-book .info-book .text p {
  line-height: 1rem;
  margin: 0;
}
section#list-book .info-book .text p span {
  line-height: 1.5rem;
  font-weight: 700;
  font-family: 'Vollkorn', serif;
  color: #222;
}
section#list-book .info-book button {
  outline: none;
  margin-top: 3%;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #00ABF0;
  color: #fff;
  font-weight: 700;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
section#list-book .info-book button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
section#list-book .info-book button:hover span {
  line-height: 0;
}
section#list-book .info-book button span {
  font-size: 1rem;
  line-height: 0;
  font-family: 'Segoe UI', sans-serif;
}
section#list-book .info-book button span i {
  margin-left: 5px;
}
section#list-book .info-book button[name="add-favorite"] {
  display: none;
  text-align: center;
  margin: 10px;
  width: 200px;
}
section#list-book .info-book .buttons {
  position: absolute;
  bottom: 10px;
}
section#list-book .favorite-operation {
  text-align: left;
}
section#list-book .favorite-operation img {
  width: 80px;
}
section#list-book .favorite-operation img:hover {
  cursor: pointer;
}
section#pagination {
  text-align: center;
  margin-top: 3rem;
}
section#pagination ul li {
  display: inline-block;
}
section#pagination ul li a {
  color: black;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  padding: 9px 15px;
  font-size: 1.3rem;
}
section#pagination ul li a.active {
  background-color: #01ADEF !important;
  color: #fff;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
}
section#pagination ul li a:hover {
  background-color: #E4E4E4;
}
section#sidebar-menu {
  padding: 0 !important;
  right: -250px;
  position: fixed;
  z-index: 999;
  top: 0;
}
section#sidebar-menu .content-menu {
  position: relative;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 250px;
  text-align: center;
  background-color: #fff;
}
section#sidebar-menu .content-menu .sidebar-menu-icon-close {
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
  position: absolute;
  left: -3rem;
}
section#sidebar-menu .content-menu .sidebar-menu-icon-close i {
  font-size: 2.2rem;
  line-height: 120px;
  color: #006F9A;
}
section#sidebar-menu .content-menu .sidebar-menu-icon-close i:hover {
  color: #fff;
  cursor: pointer;
}
section#sidebar-menu .content-menu ul {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}
section#sidebar-menu .content-menu ul li {
  list-style: none;
}
section#sidebar-menu .content-menu ul li a {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #929190;
  font-family: 'Crushed', cursive;
}
section#sidebar-menu .content-menu ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #01ADEF;
  border-radius: 3px;
  color: #01ADEF;
}
