@import '../libs/smart-grid.less';

//////////////////-> Header <-\\\\\\\\\\\\\\\\\\\\\\\\\
header {
	.head-content {
		.row-flex();
		.justify-content(center);
		.head-logo {
			.col();
			.col-3();
			.col-xs-2();
		}
		.head-search {
			.col();
			.col-7();
			.col-xs-7();
		}
		.sidebar-menu-icon {
			.col();
			.col-2();
			.col-xs-3();
		}
	}	
}
//////////////////-> List-book <-\\\\\\\\\\\\\\\\\\\\\\\\\
section#list-book {
	.title-content {
		.row-flex();
		.empty {
			.col();
			.col-3();
		}
		.title {
			.col();
			.col-9();
			.col-xs-12();
		}
	}
	.content-block {
		.item {
			.row-flex();
			.justify-content(center);
		}
		.img-book {
			.col();
			.col-4();
			.col-md-12();
		}
		.info-book {
			.col();
			.col-6();
			.col-md-12();
		}
		.favorite-operation {
			.col();
			.col-2();
			.col-md-12();
		}
	}
}
//////////////////-> Pagination <-\\\\\\\\\\\\\\\\\\\\\\\\\
section#pagination {
	.content-pagination {
		.row-flex();
		.justify-content(center);	
	}
	.numbers {
		.col();
		.col-12();
	}
}
//////////////////-> Media require <-\\\\\\\\\\\\\\\\\\\\\\\\\
@media screen and (max-width: 960px) {
	section#list-book {
		text-align: center !important;
		.text {
			width: 100% !important; 
			.head-book {
				h2 {
					width: 100% !important;
				}
			}
		}
		.info-book {
			button[name="add-favorite"] {
				display: inline-block;
			}
			.buttons {
				position: relative;
			}
			button {
				margin-top: 2% !important;
			}
		}
		.favorite-operation {
			display: none;
		}
		.line {
			margin: 1rem !important;
		}
		.wave {
			display: none;
		}
	}
	section#pagination {
		margin-top: 1%;
	}
}
@media screen and (max-width: 580px) {
	body,html {
		font-size: 14px;
	}
	header {
		height: 90px;
		.head-logo {
			text-align: left;
		}
		.head-search {
			line-height: 90px;
			margin-right: 0 !important;
			button {
				width: 50px;
				height: 40px;
			}
			input {
				height: 20px !important;
			}
		}
		.sidebar-menu-icon {
			i {
				line-height: 90px;
			}
		}
	}
	section#list-book {
		.item {
			margin-top: 2rem;
			.text {
				.head-book {
					text-align: center;
				}
			}
			.info-book {
				margin-top: 3% !important;
			}
			.line {
				margin: 0rem !important;
				width: 100% !important;
			}
		}
	}
	section#sidebar-menu {
		.content-menu {
			.sidebar-menu-icon-close {
				i {
					line-height: 90px;
				}
			}
		}
	}
}
@media screen and (max-width: 560px) {
	section {
		padding: 4%;
	}
	footer {
		.block {
			margin: 10px !important;
			&:last-child {
				border: none;
			}
		}
	}
}









