@import '../libs/smart-grid.less';

//////////////////-> Footer <-\\\\\\\\\\\\\\\\\\\\\\\\\
footer {
	.info-from-us {
		.row-flex();
		.justify-content(center);
		.block {
			.col();
			.col-6();
			.col-xs-12();
		}
		.toggle-block {
			.col();
			.col-12();
		}
	}
}
//////////////////-> Header <-\\\\\\\\\\\\\\\\\\\\\\\\\
header {
	.head-content {
		.row-flex();
		.justify-content(center);
		.head-logo {
			.col();
			.col-2();
			.col-sm-7();
		}
		.head-search {
			.col();
			.col-7();
			.col-sm-12();
			.col-xs-12();
		}
		.favorite {
			.col();
			.col-1();
		}
		.favorite-small {
			.col();
			.col-1();
		}
	}	
}
//////////////////-> List-book <-\\\\\\\\\\\\\\\\\\\\\\\\\
section#list-book {
	.content-block {
		.item {
			.row-flex();
			.justify-content(center);
		}
		.img-book {
			.col();
			.col-4();
			.col-md-12();
		}
		.info-book {
			.col();
			.col-6();
			.col-md-12();
		}
		.favorite-operation {
			.col();
			.col-2();
			.col-md-12();
		}
	}
}
//////////////////-> Media require <-\\\\\\\\\\\\\\\\\\\\\\\\\
@media screen and (max-width: 960px) {
	section#list-book {
		text-align: center;
		.text {
			width: 100% !important; 
		}
		.info-book {
			button[name="add-favorite"] {
				display: inline-block;
			}
			button {
				margin-top: 2% !important;
			}
		}
		.favorite-operation {
			display: none;
		}
	}	
}
@media screen and (max-width: 780px) {
	header {
		.head-logo {
			text-align: left;
		}
		.head-search {
			text-align: center;
			input {
				background-color: #fff;
				width: 70% !important;
				border-radius: 90px 0 0 90px;
			}
			button {
				border-radius: 0 90px 90px 0;	
			}
		}
		img#wave {
			display: block;
			margin-top: 20px;
		}
		.favorite-small {
			display: block;
		}
		.favorite {
			display: none;
		}
	}
	section#list-book {
		.item {
			.text {
				.head-book {
					text-align: center;
				}
			}
		}
	}
}
@media screen and (max-width: 560px) {
	footer {
		.block {
			margin: 10px !important;
			&:last-child {
				border: none;
			}
		}
	}
}









